@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(9, 9, 9);
  --secondary: rgb(65, 65, 65);
}

* {
  overflow: hidden;
}

/* Chrome, Edge, and Safari */
main::-webkit-scrollbar {
  width: 10px;
}

main::-webkit-scrollbar-track {
  background: var(--primary);
}

main::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 8px;
}