@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(153, 51, 150);
  --secondary: rgb(130, 97, 158);
}

* {
  overflow: hidden;
}

/* Chrome, Edge, and Safari */
main::-webkit-scrollbar {
  width: 10px;
}

main::-webkit-scrollbar-track {
  background: var(--primary);
}

main::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 8px;
}